# Análise de vendas de Bicicleta 

Essa análise foi feita com base nos dados fornecidos no site www.kaggle

Perguntas que serão Respondidas:

1. Qual o total de vendas por cidade?
2. Qual o total de bicicletas vendidas por modelo?
3. Qual é o ticket médio de cada cidade?
4. Qual o total de vendas por método de pagamento?
5. Qual a faixa etária que mais compra bicicletas?

#

# Importando Dados para Análise

In [53]:
import pandas as pd

data = pd.read_csv('bike_sales_100k.csv')

print(data.head())

   Sale_ID        Date  Customer_ID     Bike_Model    Price  Quantity  \
0        1  11-07-2022         9390        Cruiser   318.32         1
1        2  03-05-2024         3374    Hybrid Bike  3093.47         4
2        3  01-09-2022         2689   Folding Bike  4247.99         3
3        4  28-09-2022         3797  Mountain Bike  1722.01         3
4        5  05-01-2021         1633            BMX  3941.44         3

  Store_Location  Salesperson_ID Payment_Method  Customer_Age Customer_Gender
0   Philadelphia             589      Apple Pay            70          Female
1        Chicago             390      Apple Pay            37            Male
2    San Antonio             338         PayPal            59          Female
3    San Antonio             352      Apple Pay            19            Male
4   Philadelphia             580         PayPal            67          Female

#

# Tratamento De Dados

In [54]:
print(data.dtypes)

Sale_ID              int64
Date                object
Customer_ID          int64
Bike_Model          object
Price              float64
Quantity             int64
Store_Location      object
Salesperson_ID       int64
Payment_Method      object
Customer_Age         int64
Customer_Gender     object
dtype: object

In [55]:
data['Date'] = pd.to_datetime(data['Date'], format='%d-%m-%Y', errors='coerce')

print(data.dtypes)

Sale_ID                     int64
Date               datetime64[ns]
Customer_ID                 int64
Bike_Model                 object
Price                     float64
Quantity                    int64
Store_Location             object
Salesperson_ID              int64
Payment_Method             object
Customer_Age                int64
Customer_Gender            object
dtype: object

In [56]:
print(data.isnull().sum())

Sale_ID            0
Date               0
Customer_ID        0
Bike_Model         0
Price              0
Quantity           0
Store_Location     0
Salesperson_ID     0
Payment_Method     0
Customer_Age       0
Customer_Gender    0
dtype: int64

In [57]:
data['Customer_Gender'] = data['Customer_Gender'].str.capitalize()

In [58]:
data['Price'] = pd.to_numeric(data['Price'], errors='coerce')
data['Quantity'] = pd.to_numeric(data['Quantity'], errors='coerce')
data['Customer_Age'] = pd.to_numeric(data['Customer_Age'], errors='coerce')

In [59]:
print(data.head())

   Sale_ID       Date  Customer_ID     Bike_Model    Price  Quantity  \
0        1 2022-07-11         9390        Cruiser   318.32         1
1        2 2024-05-03         3374    Hybrid Bike  3093.47         4
2        3 2022-09-01         2689   Folding Bike  4247.99         3
3        4 2022-09-28         3797  Mountain Bike  1722.01         3
4        5 2021-01-05         1633            BMX  3941.44         3

  Store_Location  Salesperson_ID Payment_Method  Customer_Age Customer_Gender
0   Philadelphia             589      Apple Pay            70          Female
1        Chicago             390      Apple Pay            37            Male
2    San Antonio             338         PayPal            59          Female
3    San Antonio             352      Apple Pay            19            Male
4   Philadelphia             580         PayPal            67          Female

In [60]:
data.to_csv('sales_data_cleaned.csv', index=False)

#

# 1. Qual o total de vendas por cidade?

In [61]:
data['Total_Sales'] = data['Price'] * data['Quantity']  

total_sales_per_city = data.groupby('Store_Location')['Total_Sales'].sum().reset_index()  


total_sales_per_city.columns = ['Store_Location', 'Total_Sales']

total_sales_per_city['Total_Sales'] = total_sales_per_city['Total_Sales'].apply(lambda x: f'${x:,.2f}')

print(total_sales_per_city)

  Store_Location      Total_Sales
0        Chicago  $110,388,139.04
1        Houston  $110,427,042.39
2    Los Angeles  $110,340,851.08
3       New York  $113,592,473.94
4   Philadelphia  $111,765,829.45
5        Phoenix  $111,860,419.61
6    San Antonio  $110,059,479.44

#

# 2. Qual o total de bicicletas vendidas por modelo?

In [62]:
total_bikes_per_model = data.groupby('Bike_Model')['Quantity'].sum().reset_index()  

print("\nTotal de Bicicletas Vendidas por Modelo:")
print(total_bikes_per_model)

Total de Bicicletas Vendidas por Modelo:
      Bike_Model  Quantity
0            BMX     43080
1        Cruiser     43120
2  Electric Bike     42249
3   Folding Bike     42872
4    Hybrid Bike     43089
5  Mountain Bike     42279
6      Road Bike     43022

#

# 3. Qual é o ticket médio de cada cidade?

In [63]:
data['Total_Sales'] = data['Price'] * data['Quantity']

ticket_medio_por_cidade = data.groupby('Store_Location').agg(
    Total_Vendas=('Total_Sales', 'sum'),
    Numero_Vendas=('Sale_ID', 'count')
).reset_index()

ticket_medio_por_cidade['Ticket_Medio'] = ticket_medio_por_cidade['Total_Vendas'] / ticket_medio_por_cidade['Numero_Vendas']

print(ticket_medio_por_cidade[['Store_Location', 'Ticket_Medio']])

  Store_Location  Ticket_Medio
0        Chicago   7769.982335
1        Houston   7804.582825
2    Los Angeles   7817.829891
3       New York   7825.867994
4   Philadelphia   7799.429829
5        Phoenix   7776.184888
6    San Antonio   7696.467094

#

# 4. Qual o total de vendas por método de pagamento?

In [64]:
data['Total_Sales'] = data['Price'] * data['Quantity']

total_sales_per_payment_method = data.groupby('Payment_Method')['Total_Sales'].sum().reset_index()

total_sales_per_payment_method['Total_Sales'] = total_sales_per_payment_method['Total_Sales'].apply(lambda x: f"${x:,.2f}")

print(total_sales_per_payment_method)

  Payment_Method      Total_Sales
0      Apple Pay  $130,460,342.05
1           Cash  $129,623,764.88
2    Credit Card  $129,874,180.38
3     Debit Card  $130,529,339.42
4     Google Pay  $129,557,017.18
5         PayPal  $128,389,591.04

#

# 5. Qual a faixa etária que mais compra bicicletas?

In [65]:
bins = [0, 18, 30, 45, 60, 75, 100]  
labels = ['0-18', '19-30', '31-45', '46-60', '61-75', '76+']  

data['Age_Group'] = pd.cut(data['Customer_Age'], bins=bins, labels=labels, right=False)

total_bikes_per_age_group = data.groupby('Age_Group', observed=True)['Quantity'].sum().reset_index()

print(total_bikes_per_age_group)

  Age_Group  Quantity
0     19-30     67947
1     31-45     84545
2     46-60     84798
3     61-75     62421